asgiref==3.9.1
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.7
Django==5.2.4
et_xmlfile==2.0.0
gunicorn==25.1.0
mysql-connector-python==9.5.0
numpy==1.24.3
openpyxl==3.1.5
packaging==26.0
pandas==2.3.2
pillow==11.3.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
